Repository goldentrash/white_places: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

# functions sources
'*.{ts, graphql}':
  - eslint
  - prettier --write

# client sources
'*.{elm, html, css}':
  - prettier --write

# config
'(*.{json, toml, yaml, config.js}|*rc)':
  - prettier --write

add graphql-lint rules
  .eslintrc
Due: none

bye... Elm...
  .eslintignore
  .gitignore
  .lintstagedrc
  .prettierignore
  elm.json
  package.json
  src/client/Main.elm
  src/client/Page.elm
  src/client/Page/Error.elm
  src/client/Page/Explore.elm
  src/client/Page/Opinion.elm
  src/client/Page/Project.elm
  src/client/Page/Task.elm
  src/client/Page/User.elm
  src/client/Skeleton.elm
  tsconfig.json
Due: prettier --write

중간정리
  .eslintrc
  .graphqlrc
  README.md
  package.json
  src/api/codegen/types.ts
  src/api/graphql.ts
  src/api/resolver.ts
  tsconfig.json
  webpack.config.ts
  webpack/api.config.js
  webpack/client.config.js
  yarn.lock
Due: eslint, prettier --write

?
  .eslintignore
  .lintstagedrc
  webpack.config.ts
Due: eslint, prettier --write

sadf
  .lintstagedrc
Due: none

asdf
  netlify.toml
  package.json
  src/api/codegen/types.ts
  src/api/graphql.ts
  src/api/resolver.ts
  src/api/schema.graphql
  src/api/typeDefs.ts
  webpack.config.ts
Due: eslint, prettier --write

asdf
  .lintstagedrc
  netlify.toml
  src/api/resolver.ts
Due: eslint, prettier --write

asdf
  .huskyrc
Due: none

functions 구동 확인, typescript-resolvers 연결 방법 습득
  .eslintignore
  .graphqlrc
  .prettierignore
  package.json
  src/api/resolver.ts
  src/functions/codegen/types.ts
  src/functions/graphql.ts
  src/functions/resolver.ts
  src/functions/typeDefs.ts
  webpack.config.ts
Due: eslint, prettier --write

db setup, dotenv
  .gitignore
  package.json
  src/db/schema.graphql
  src/functions/graphql.ts
Due: eslint, prettier --write

...
  .eslintrc
  .graphqlrc
  package.json
  src/db/schema.graphql
  src/functions/codegen/generated/db.ts
  src/functions/codegen/generated/types.ts
  src/functions/codegen/models.ts
  src/functions/db.graphql
  src/functions/graphql.ts
  src/functions/typeDefs.ts
  yarn.lock
Due: eslint, prettier --write

이제 남은건 db부분인가?
  .eslintignore
  .eslintrc
  .graphqlrc
  .lintstagedrc
  .prettierignore
  package.json
  public/favicon.png
  public/index.html
  src/app.tsx
  src/db/schema.graphql
  src/functions/codegen/generated/db.ts
  src/functions/codegen/models.ts
  src/functions/db.graphql
  src/functions/generated/types.ts
  src/functions/graphql.ts
  src/functions/resolver.ts
  src/index.tsx
  src/public/app.js
  src/style/app.css
  src/style/layout.css
  tsconfig.json
  webpack.config.ts
  yarn.lock
Due: eslint, prettier --write

solve prop validation problem
  package.json
  src/app.tsx
  src/index.tsx
  yarn.lock
Due: none

뭐? lint-staged 파일 셀럭터가 공백을 허용하지 않는다고?
  .huskyrc
  .lintstagedrc
  src/app.tsx
  src/index.tsx
Due: none

FC가 대세같아서 망설였지만, 역시 class형이 났다. 담에 수정하자!
  netlify.toml
  package.json
  src/app.tsx
  src/components/app.tsx
  src/components/header.tsx
  src/components/searchBox.tsx
  src/index.tsx
  src/style/app.css
  src/style/header.css
  src/style/searchBox.css
  webpack.config.ts
  yarn.lock
Due: eslint, prettier --write

fuck you
  .eslintignore
  .huskyrc
  .lintstagedrc
  .prettierignore
  functions/generated/types.ts
  functions/graphql.ts
  functions/resolver.ts
  functions/typeDefs.ts
  netlify.toml
  package.json
  public/index.html
  src/app.tsx
  src/components/header.tsx
  src/components/searchBox.tsx
  src/index.tsx
  src/style/app.css
  src/style/header.css
  src/style/layout.css
  src/style/searchBox.css
  src/theme.ts
  tsconfig.json
  webpack.config.ts
  yarn.lock
Due: eslint, prettier --write

fuck again
  .eslintrc
  src/components/header.tsx
  webpack.config.ts
Due: eslint, prettier --write

아직 느리지만, 그래도 낫다
  .eslintignore
  .lintstagedrc
  .prettierignore
  functions/resolver.ts
  functions/webpack.config.ts
  package.json
  public/index.html
  src/components/header.tsx
  yarn.lock
Due: eslint, prettier --write

...
  .gitignore
  .graphqlrc
  functions/generated/types.ts
  package.json
Due: eslint, prettier --write

서버 포트를 env로 설정하는 것에 관하여, server 실행시 모드 결정에 관하여
  functions/webpack.config.ts
  netlify.toml
  package.json
  src/components/header.tsx
  webpack.config.ts
  yarn.lock
Due: eslint, prettier --write

finally, I did it!
  functions/resolver.ts
  netlify.toml
  package.json
  webpack/client.config.ts
  webpack/functions.config.ts
  yarn.lock
Due: eslint, prettier --write

header styling
  src/components/header.tsx
Due: none

set historycalapifallback
  webpack/client.config.ts
Due: eslint, prettier --write

apollo react에서 lazy를 쓰면 정말로 abort 되는가?
  .eslintignore
  .gitignore
  .graphqlrc
  .huskyrc
  .lintstagedrc
  .prettierignore
  functions/generated/types.ts
  functions/index.ts
  functions/resolver.ts
  netlify.toml
  package.json
  src/apollo.ts
  src/app.tsx
  src/document/GetProject.graphql
  src/page/search.tsx
  tsconfig.json
  webpack/client.config.js
  webpack/functions.config.js
  yarn.lock
Due: eslint, prettier --write

resolver 작성만 해둠 test 필요
  .graphqlrc
  functions/fakeDB.ts
  functions/index.ts
  functions/resolvers/document.ts
  functions/resolvers/index.ts
  functions/resolvers/mutation.ts
  functions/resolvers/query.ts
  functions/schema/index.ts
  functions/schema/mutation.ts
  functions/schema/project.ts
  functions/schema/query.ts
  functions/typeDefs.ts
  package.json
  src/document/GetProject.graphql
  src/page/search.tsx
  yarn.lock
Due: eslint, prettier --write

resolver & logger setting
  functions/fakeDB.ts
  functions/index.ts
  functions/logger.ts
  functions/resolvers/document.ts
  functions/resolvers/index.ts
  functions/resolvers/mutationResponse.ts
  package.json
  src/document/ChagneProjectName.graphql
  src/document/GetProject.graphql
  yarn.lock
Due: eslint, prettier --write

verbose shut down
  .huskyrc
Due: none

cacheing & local state 포기
  functions/logger.ts
  functions/resolvers/mutation.ts
  package.json
  src/apollo.ts
  src/app.tsx
  src/components/header.tsx
  src/document/ChagneProjectName.graphql
  src/document/GetProject.graphql
  src/document/fragment/titleAndSummary.graphql
  src/document/mutation/ChagneProjectName.graphql
  src/document/query/GetProject.graphql
  src/page/introduction.tsx
  src/page/search.tsx
  tsconfig.json
Due: eslint, prettier --write

style
  .gitignore
  functions/fauna.ts
  functions/index.ts
  package.json
  src/app.tsx
  src/components/header.tsx
  src/header.tsx
  src/page/search.tsx
  webpack/functions.config.js
  yarn.lock
Due: eslint, prettier --write

no waring allowed
  .lintstagedrc
  functions/fauna.ts
Due: eslint, prettier --write

header finish
  src/header.tsx
Due: none

project page header working...
  src/app.tsx
  src/header.tsx
  src/page/introduction.tsx
  src/page/profile.tsx
  src/page/project.tsx
  src/page/timeline.tsx
Due: none

지겨운 url 정리 끗
  .eslintignore
  .graphqlrc.yaml
  .huskyrc.yaml
  .lintstagedrc.yaml
  lambda/.eslintrc.yaml
  lambda/index.ts
  lambda/webpack.dev.js
  lambda/webpack.prod.js
  netlify.toml
  package.json
  src/app.tsx
  src/components/index.ts
  src/components/menuButton.tsx
  src/components/popoverMenu.tsx
  src/components/searchBox.tsx
  src/index.tsx
  src/pages/notFound.tsx
  src/pages/profile.tsx
  src/pages/project/index.tsx
  src/pages/project/pages/followerList.tsx
  src/pages/project/pages/introduction.tsx
  src/pages/project/pages/opinionList.tsx
  src/pages/project/pages/taskList.tsx
  src/pages/project/pages/timeline.tsx
  src/pages/search.tsx
  src/pages/timeline.tsx
  src/providers/apolloClientProvider.tsx
  src/providers/cssThemeProvider.tsx
  src/providers/index.tsx
  tsconfig.json
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Due: eslint, prettier --write

markdown, style convention
  .eslintignore
  .eslintrc.yaml
  .gitignore
  .graphqlrc.yaml
  .lintstagedrc.yaml
  .prettierignore
  lambda/.eslintrc.yaml
  lambda/db/createCollection.ts
  lambda/graphql/dataSources/fauna.ts
  lambda/graphql/dataSources/github.ts
  lambda/graphql/dataSources/index.ts
  lambda/graphql/index.ts
  lambda/graphql/plugins/index.ts
  lambda/graphql/plugins/logger.ts
  lambda/graphql/resolvers/index.ts
  lambda/graphql/resolvers/query.ts
  lambda/graphql/typeDefs/index.ts
  lambda/graphql/typeDefs/query.ts
  lambda/plugins/logger.ts
  lambda/webpack.dev.js
  lambda/webpack.prod.js
  package.json
  src/app.tsx
  src/components/index.ts
  src/components/listItem.tsx
  src/components/markdown.tsx
  src/components/menuButton.tsx
  src/components/popoverMenu.tsx
  src/components/searchBox.tsx
  src/components/searchStatistics.tsx
  src/pages/project/index.tsx
  src/pages/project/pages/followers.tsx
  src/pages/project/pages/index.ts
  src/pages/project/pages/information.tsx
  src/pages/project/pages/informations.tsx
  src/pages/project/pages/introduction.tsx
  src/pages/project/pages/opinions.tsx
  src/pages/project/pages/tasks.tsx
  src/pages/timeline.tsx
  yarn.lock
Due: eslint, prettier --write

ajv start
  .graphqlrc.yaml
  .lintstagedrc.yaml
  lambda/graphql/plugins/logger.ts
  lambda/graphql/resolvers/query.ts
  lambda/graphql/typeDefs/query.ts
  lambda/webpack.common.js
  lambda/webpack.dev.js
  lambda/webpack.prod.js
  package.json
  src/app.tsx
  src/components/listItem.tsx
  src/components/markdown.tsx
  src/components/menuButton.tsx
  src/components/popoverMenu.tsx
  src/components/searchBox.tsx
  src/components/searchStatistics.tsx
  src/documents/getProjectInfo.graphql
  src/documents/greeting.graphql
  src/pages/project/index.tsx
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Due: eslint, prettier --write

routing system
  src/app/project/routes.ts
  src/app/routes.ts
  src/helper.ts
  src/index.tsx
  src/pages/appRoot.tsx
  src/pages/document.tsx
  src/pages/documents.tsx
  src/pages/error.tsx
  src/pages/index.tsx
  src/pages/introduction.tsx
  src/pages/notFound.tsx
  src/pages/projectRoot.tsx
  src/router.tsx
  tsconfig.json
Due: eslint, prettier --write

tabs active
  .lintstagedrc.yaml
  src/pages/projectRoot.tsx
Due: none

asdf
  lambda/graphql/index.ts
  lambda/graphql/plugins/index.ts
  lambda/graphql/plugins/logger.ts
  src/components/index.ts
  src/components/markdown.tsx
  src/components/menu/index.tsx
  src/components/menu/item.tsx
  src/components/pageList/index.tsx
  src/components/pageList/item.tsx
  src/components/pageList/statistics.tsx
  src/components/popoverMenu.tsx
  src/components/searchBox.tsx
  src/helper.ts
  src/helpers/urlBuilder.ts
  src/index.tsx
  src/pages/appRoot.tsx
  src/pages/document.tsx
  src/pages/documents.tsx
  src/pages/error.tsx
  src/pages/index.tsx
  src/pages/introduction.tsx
  src/pages/navigateToMain.tsx
  src/pages/notFound.tsx
  src/pages/projectRoot.tsx
  src/provider/apolloClientProvider.tsx
  src/provider/cssThemeProvider.tsx
  src/provider/index.tsx
  src/router.tsx
  tsconfig.json
Due: eslint, prettier --write
